*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#center {
    width: 50vw;
    height: 50vh;
    background-color: lightblue;
    position: absolute;
    top: calc(50% - 25vh);
    left: calc(50% - 25vw);
    text-align: center;
    border: 1px solid crimson;
}

h1 {
    margin-top: 2%;
    font-size: 200%;
}

#user {
    position: relative;
    top: 10%;
}

#result {
    position: relative;
    top: 15%;
}

#submit {
    position: absolute;
    left: 45%;
    top: 12%;
    border: 2px solid darkolivegreen;
    width: min-content;
}

#arrow {
    position: absolute;
    left: 50%;
    font-size: 2rem;
}

#petit {
    position: absolute;
    left: 50%;
    margin-top: 5%;
}
#grand {
    position: absolute;
    left: 70%;
    margin-top: 5%;
}

#bon {
    position: absolute;
    margin-top: 5%;
    left: 30%;
}

ul {
    display: block;
    width: 20%;
    list-style: none;
    position: relative;
    left: 0;
    font-size: 2rem;
}

@media screen and (max-width: 800px){
    #center {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }
    h1{
        font-size: 1.5rem;
    }
    #submit{
        top: 8%;
    }
    #nbUse {
        font-size: 1rem;
        left: 0;
    }
}